<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.27.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>FINCOUNT</title>
  </head>
  <body>
    <nav class="navbar w-full flex justify-around">
      <h1 class="fincount-logo">
        <span class="fincount-fin">FIN</span>
        <span class="fincount-count">COUNT</span>
      </h1>
      <ul class="menu">
        <li>
          <a class="menu-link" href="/home">
            Home
          </a>
        </li>
        <li class="menu-link">
          <a class="menu-link" href="/about">
            About Us
          </a>
        </li>
        <li class="menu-link">
          <a class="menu-link" href="/services">
            Services
          </a>
        </li>
        <li class="menu-link">
          <a class="menu-link" href="/pricing">
            Pricing
          </a>
        </li>
        <li class="menu-link">
          <a class="menu-link" href="/contact">
            Contact
          </a>
        </li>
        <li class="menu-link">
          <a class="menu-link" href="/comment">
            Comment
          </a>
        </li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>