<div class="about">
  <div class="about-menu">
    <img
      class="about-img"
      src="https://kinemetrics.com/wp-content/uploads/2020/03/Tech-Building-Dark-1980x500.jpg"
      alt=""
    />
    <h1 class="about-title">BIZ HAQIMIZDA</h1>
  </div>
  <div class="about-about">
    <p class="about-desc">Fincount Accounting buxgalteriya hisobi va soliq
      xizmati provayderi bo‘lib, muvaffaqiyatli biznesni boshqargan va amalga
      oshirgan tajribali mutaxassislardan iborat biznes-maslahat tarmog‘iga
      kirish imkoniga ega bo‘lib, ularning barchasi biznesingiz muvaffaqiyatida
      sizga yordam berishga intiladi. Bizning mijozlarimiz buxgalteriya hisobi,
      qonun hujjatlariga rioya qilish va moliyaviy menejment bilan bog'liq
      xarajatlar o'z biznesining omon qolishi uchun juda muhim ekanligini
      tushunadigan va tushunadigan va bu xarajatni "samarasiz xarajat" emas,
      balki "investitsiya" sifatida ko'radigan mulkdorlar tomonidan
      boshqariladigan korxonalardir. ”.</p>
    <img
      class="img-about"
      src="https://www.fincount.co.za/wp-content/uploads/2020/02/kelly-sikkema-xoU52jUVUXA-unsplash-min-scaled.jpg"
      alt=""
    />
  </div>
</div>