<div class="contact">
  <div class="contact-menu">
    <img
      class="contact-menu_img"
      src="https://nubartassociates.com/_content/revolutionslider/1980x500-5.png"
      alt=""
    />
    <h1 class="contact-menu_title">BIZ BILAN BOG'LANISH</h1>
  </div>
  <div>

    <div
      style="position: absolute; top: 500px; margin-left: 100px; gap: 20px; display: flex; flex-direction: column; line-height: 50px;"
    >
      <div class="contact-info">
        <h1 style="font-family: Oswald, sans-serif; font-size: 40px;">ALOQA</h1>
        <p style="color: rgba(100, 100, 100, 0.678);">Ehtiyojlaringizni muhokama
          qilish uchun bilimli va tajribali jamoamiz bilan bog'laning:</p>
      </div>
      <div class="telephone">
        <h1
          style="font-family: sans-serif; font-size: 20px; color: rgba(0, 0, 0, 0.678);"
        >TELEFON RAQAMLAR:</h1>
        <p style="color: rgba(100, 100, 100, 0.678);">+999 99 771 33 11</p>
        <p style="color: rgba(100, 100, 100, 0.678);">+998 97 792 33 11</p>
      </div>
      <div class="email">
        <h1
          style="font-family: sans-serif; font-size: 20px; color: rgba(0, 0, 0, 0.678);"
        >ELEKTRON POCHTA:</h1>
        <p style="color: blue;">umar.ollaberganov@mail.ru</p>
      </div>
      <div class="address">
        <h1
          style="font-family: sans-serif; font-size: 20px; color: rgba(0, 0, 0, 0.678);"
        >ADDRESS:</h1>
        <ul>
          <li>XORAZM VILOYATI</li>
          <li>URGANCH SHAHRI</li>
          <li>ISTIQLOL 18</li>
        </ul>
      </div>
    </div>
    <img
      style="position: absolute; top: 600px; left: 1000px; width: 500px; height: 300px; margin-left: -100px; border: 1px solid black;"
      src="https://static-maps.yandex.ru/1.x/?l=map&lang=ru-Ru&size=370,175&z=17&ll=60.607625,41.559994&pt=60.607625,41.559994,round"
      alt=""
    />
  </div>
</div>
<footer class="home-footer" style="margin-top: 70%;">
  <ul class="menu2">
    <li>
      <a class="menu-link2" href="/home">
        Home
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/about">
        About Us
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/services">
        Services
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/pricing">
        Pricing
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/contact">
        Contact
      </a>
    </li>
  </ul>
  <h1 class="home-footer_title">Fincount © Copyright 2022</h1>
</footer>