<div class="home">
  <div class="home_1">
    <img
      class="img-home"
      src="https://www.expertsaudit.com/wp-content/uploads/2020/10/banner1.jpg"
      alt=""
    />
    <h1 class="home-title">
            BUXGALTERIYA HISOBI VA BUXGALTERIYA
      <br />
      XIZMATLARINGIZNI MUTAXASSISLARGA ISHONING
    </h1>
  </div>
  <div class="home_2">
    <h1 class="home_2-title">MUTAXASSISLAR XIZMATI</h1>
    <h6 class="home_2-desc">
      BUXGALTERIYA HISOBI VA BUXGALTERIYA HISOBINI AUTSORSING FOYDALANISHNING
      BA'ZI FOYDALARI:
    </h6>
  </div>
  <div class="home_3">
    <img
      src="https://images.squarespace-cdn.com/content/v1/5d15c1c109abab0001e5fe62/1648005554808-HKMXJ4S55OQH2IFH5L9C/210-Brunswick-St-Fortitude-Valley-CornerRender-1980x1980.jpeg"
      alt=""
      class="home_3-img"
    />
    <div class="home_3-about">
      <h1 class="home_3-title">XARAJATLARNI SAQLANG</h1>
      <p class="home_3-desc">
        Autsorsing sizga kerak bo'lganda turli darajadagi malakali
        mutaxassislarning vaqtini sotib olish imkonini beradi va shu bilan faqat
        ehtiyoj asosida buxgalterdan usta buxgaltergacha bir nechta
        ko'nikmalarga ega bo'ladi. Bu sizning ixtiyoringizda to'liq xodimlar
        bilan jihozlangan buxgalteriya bo'limiga ega bo'lish imkonini beradi.
      </p>
    </div>
    <div class="home_3-about2">
      <h1 class="home_3-title">ASOSIY BIZNESINGIZGA E'TIBOR BERING</h1>
      <p class="home_3-desc">
        Sizning biznesingizni sotish va boshqarishga e'tibor qaratish uzoq
        muddatda savdo va foydani oshiradi. Buni amalga oshirishda sizga yordam
        berish uchun vaqtingizni qaytarib beramiz.
      </p>
    </div>
    <div class="home_3-about">
      <h1 class="home_3-title">XIZMAT DAVOMIYLIGI</h1>
      <p class="home_3-desc">
        Autsorsing shuningdek, xizmat ko'rsatishning uzluksizligini ta'minlaydi,
        bu kichik biznesda muhim ahamiyatga ega, bu erda bir kishining
        ishlashiga tayanadi: sizning buxgalteringiz.
      </p>
    </div>
    <div class="home_3-about2">
      <h1 class="home_3-title">MASLAHAT</h1>
      <p class="home_3-desc">
        Fincount Accounting faqat malakali va bilimli xodimlarni ish bilan
        ta'minlaydi va kompaniya sizga bebaho maslahatlar bera oladigan malakali
        mutaxassislarga tegishli va boshqariladi.
      </p>
    </div>
    <div class="home_3-about">
      <h1 class="home_3-title">BILIM</h1>
      <p class="home_3-desc">
        Bilim - bu kuch va barmog'ingiz sizning biznesingizning zarbasiga ega
        bo'lish sizning kompaniyangiz kelajagi bo'yicha oqilona qarorlar qabul
        qilish imkonini beradi. Biz sizga biznes qarorlarini asosli qabul qilish
        imkonini beruvchi real vaqt rejimiga yaqin boshqaruv va moliyaviy
        hisobotlarni taqdim etamiz.
      </p>
    </div>
  </div>
</div>