<div class="pricing">
  <img
    class="pricing-img"
    src="http://talk.ronenbekerman.com/uploads/default/original/1X/171eba20fb9753234f927d84de06fccfc603a41b.jpg"
    alt=""
  />
  <div class="pricing-about">
    <h1 class="pricing-title">      BIZNING    NARXLARIMIZ</h1>
    <div class="pricing-background">
      <p class="pricing-desc">
        Maʼlumotlarni yigʻish va yillik moliyaviy hisobotlardan tortib biznes
        tahlili va maslahatlargacha boʻlgan barcha moliyaviy sohalarni qamrab
        oluvchi “yagona oyna” tajribasi sizga vaqt va pulni tejaydi. Nima uchun
        to'liq vaqtli buxgalter va buxgalterni ishga olish kerak, agar siz ushbu
        xizmatlarni arzon narxlarda autsorsing qila olasiz? Bizda asosiy
        xizmatlar paketlari mavjud, ammo bizning xizmatlarimiz sizning
        ehtiyojlaringizga moslashtirilishi mumkin. Texnologiyadan foydalangan
        holda, jarayonni eng yangi boshqaruv ma'lumotlarini taqdim etgan holda
        samarali va tejamkor bo'lishi uchun loyihalash mumkin.</p>
      <div class="pricing-menu">
        <a class="pricing-menu_home" href="/home">HOME</a>
        <a class="pricing-menu_about" href="/about">ABOUT</a>
        <a class="pricing-menu_services" href="/services">SERVICES</a>
        <a class="pricing-menu_contact" href="/contact">CONTACT</a>
      </div>
    </div>
  </div>
</div>