<div class="services">
  <div class="services-menu">
    <img
      class="services-menu-img"
      src="https://affinityoutsourcing.net/wp-content/uploads/2020/01/Outsourced-Accountancy.jpg"
      alt=""
    />
    <h1 class="services-menu-title">XIZMATLAR</h1>
  </div>
  <div class="services-2">
    <h1 class="services-2-title">   BIZNING XIZMATLARIMIZ</h1>
    <p class="services-2-desc">Buxgalteriya hisobi va buxgalteriya hisobi
      funksiyalaringizni Fincount Accounting kompaniyasiga topshirib, biz
      sizning biznesingizni ro'yxatdan o'tkazish, buxgalteriya hisobi, qonuniy
      deklaratsiyalar, buxgalteriya hisobi va ish haqini to'lash xizmatlarini
      ko'rib chiqamiz, bu esa daromadingizni oshiradigan savdo va boshqaruv
      funktsiyalarini bajarishdan ozod qilamiz.</p>
  </div>
  <div class="service-cards1">
    <div class="service-card1">
      <h1 class="service-card-titles">KOMPANIYANI KOTIBIY XIZMATLARI</h1>
      <p class="service-card-desc1">Tajribali xodimlarimizga kompaniyangizning
        kotibiyat vazifalarini autsorsing qilish talab qilinadigan qonunchilikka
        rioya qilishni ta'minlaydi va sizga o'z biznesingizga e'tibor qaratish
        uchun qimmatli vaqtni taklif qiladi. Ishni boshlash biz bilan bog'lanish
        va talablaringiz haqida aytib berish kabi oddiy.</p>
    </div>
    <div class="service-card2">
      <h1 class="service-card-titles">KOMPANIYANI KOTIBIY XIZMATLARI</h1>
      <ul class="service-card-menu">
        <li>Korporatsiyalarni yopish</li>
        <li>Kichik biznes korporatsiyalari</li>
        <li>Cheklangan xususiy kompaniyalar</li>
        <li>Ishonch</li>
        <li>Yakka tartibdagi tadbirkorlar</li>
        <li>Foydalanish nomini band qilish</li>
        <li>Raf kompaniyalari</li>
        <li>Kompaniyaning barcha o'zgarishlari</li>
        <li>Maxsus qarorlar</li>
      </ul>
    </div>
  </div>
  <div class="service-3">
    <div class="service-3-about">
      <h1 class="service-3-title">      BOSHQA XIZMATLAR</h1>
      <p class="service-3-desc">Qarzlarni undirish To'lov shartlarini
        kreditorlar bilan muhokama qiling Strategiyani rejalashtirish va amalga
        oshirish Moliyaviy hisobotlarni sharhlang va muammolarni hal qilish
        yo'llarini taklif qiling Biznes-rejalar va moliyaviy prognozlar
        Xarajatlarni hisobga olish orqali nazorat qilish Risklarni aniqlash va
        boshqarish Tegishli biznes tuzilmalari bo'yicha maslahat bering Biznes
        yoki biznes birligini baholash Inson resurslari bo'yicha strategik
        maslahat Xavfsizlik va atrof-muhit bo'yicha maslahat Mustaqil sharhlarni
        bajaring BEE / BBBEE sertifikatlari</p>
    </div>
    <div class="service-cards2">
      {{! 1 }}
      <div class="service-card1" style="width: 600px;">
        <h1 class="service-card-titles">BIZNES MASLAHAT</h1>
        <p class="service-card-desc1">Ko'pincha korxonalar faralarda emas, balki
          orqa ko'zgu oynasida nima bo'lganiga qarab qaror qabul qilishadi. Biz
          real vaqt texnologiyasini birlashtirib, moliyaviy ma'lumotlarni
          sizning qo'lingiz ostiga qo'yamiz, shunda siz tez va ongli qarorlar
          qabul qilasiz.</p>
      </div>
      {{! 2 }}
      <div class="service-card2" style="width: 600px;">
        <h1
          style="font-size: 17px; width: 300px; font-weight: 300; margin-bottom: 20px; margin-top: 70px; line-height: 30px;"
          class="service-card-titles"
        >Biz shunchaki moliyaviy hisobotlarni tayyorlash va soliq
          deklaratsiyasini topshirish o'rniga:</h1>
        <ul
          class="service-card-menu"
          style="margin-left: 10px; line-height: 30px;"
        >
          <li>Raqamlar aslida nimani anglatishini tushuntirish</li>
          <li>Moliyaviy yo'riqnomani taqdim etish</li>
          <li>Biznes qarorlari bo'yicha maslahat berish</li>
          <li>O'sish strategiyalarini tayyorlash</li>
          <li>Biznes muammolarini aniqlash</li>
        </ul>
      </div>
      {{! 3 }}
      <div class="service-card3" style="width: 600px;">
        <h1
          class="service-card-titles"
          style="color: rgba(0, 0, 0, 0.686);"
        >BIZNES MASLAHAT</h1>
        <p
          class="service-card-desc1"
          style="color: rgba(0, 0, 0, 0.468);"
        >Ko'pincha korxonalar faralarda emas, balki orqa ko'zgu oynasida nima
          bo'lganiga qarab qaror qabul qilishadi. Biz real vaqt texnologiyasini
          birlashtirib, moliyaviy ma'lumotlarni sizning qo'lingiz ostiga
          qo'yamiz, shunda siz tez va ongli qarorlar qabul qilasiz.</p>
      </div>
    </div>
  </div>
</div>
<footer class="home-footer">
  <ul class="menu2">
    <li>
      <a class="menu-link2" href="/home">
        Home
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/about">
        About Us
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/services">
        Services
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/pricing">
        Pricing
      </a>
    </li>
    <li>
      <a class="menu-link2" href="/contact">
        Contact
      </a>
    </li>
  </ul>
  <h1 class="home-footer_title">Fincount © Copyright 2022</h1>
</footer>