<div class="services">
  <div class="services-menu">
    <img
      class="services-menu-img"
      src="https://affinityoutsourcing.net/wp-content/uploads/2020/01/Outsourced-Accountancy.jpg"
      alt=""
    />
    <h1 class="services-menu-title">XIZMATLAR</h1>
  </div>
  <div class="services-2">
    <h1 class="services-2-title">   BIZNING XIZMATLARIMIZ</h1>
    <p class="services-2-desc">Buxgalteriya hisobi va buxgalteriya hisobi
      funksiyalaringizni Fincount Accounting kompaniyasiga topshirib, biz
      sizning biznesingizni ro'yxatdan o'tkazish, buxgalteriya hisobi, qonuniy
      deklaratsiyalar, buxgalteriya hisobi va ish haqini to'lash xizmatlarini
      ko'rib chiqamiz, bu esa daromadingizni oshiradigan savdo va boshqaruv
      funktsiyalarini bajarishdan ozod qilamiz.</p>
  </div>
  <div class="service-cards1">
    <div class="service-card1">
      <h1 class="service-card-titles">KOMPANIYANI KOTIBIY XIZMATLARI</h1>
      <p class="service-card-desc1">Tajribali xodimlarimizga kompaniyangizning
        kotibiyat vazifalarini autsorsing qilish talab qilinadigan qonunchilikka
        rioya qilishni ta'minlaydi va sizga o'z biznesingizga e'tibor qaratish
        uchun qimmatli vaqtni taklif qiladi. Ishni boshlash biz bilan bog'lanish
        va talablaringiz haqida aytib berish kabi oddiy.</p>
    </div>
    <div class="service-card2">
      <h1 class="service-card-titles">KOMPANIYANI KOTIBIY XIZMATLARI</h1>
      <ul class="service-card-menu">
        <li>Korporatsiyalarni yopish</li>
        <li>Kichik biznes korporatsiyalari</li>
        <li>Cheklangan xususiy kompaniyalar</li>
        <li>Ishonch</li>
        <li>Yakka tartibdagi tadbirkorlar</li>
        <li>Foydalanish nomini band qilish</li>
        <li>Raf kompaniyalari</li>
        <li>Kompaniyaning barcha o'zgarishlari</li>
        <li>Maxsus qarorlar</li>
      </ul>
    </div>
  </div>
  <div class="service-3">
    <div>
      <h1 class="service-3-title">       Buxgalteriya hisobi <br>        va Soliq hisobotlari</h1>
      <p class="service-3-desc">Biz sizga kompaniyangizning pul oqimidan tortib
        qonun hujjatlariga rioya qilishgacha bo'lgan turli moliyaviy
        murakkabliklarini boshqarish uchun bulutli hisob va jonli moliyaviy
        axborot tizimlaridan foydalangan holda kompaniyangizning muammosiz va
        samarali ishlashiga yordam beramiz.</p>
    </div>
  </div>
</div>